@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  touch-action: pan-y;
  overflow-y: auto;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1420px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-85px)];
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-blue my-5 hover:bg-transparent border border-transparent hover:border hover:text-blue hover:border-blue;
  }

  .common-padding {
    @apply sm:py-32 py-10 sm:px-10 px-5;
  }

  .section-heading {
    @apply text-black lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20;
  }

  .section-title {
    @apply text-black lg:text-2xl md:text-xl text-lg lg:mb-0 mb-2 font-normal opacity-0 translate-y-20;
  }

  .section-text {
    @apply text-black lg:text-6xl md:text-5xl text-3xl lg:mb-0  font-bold opacity-0 -translate-x-20;
  }

  .carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }
}
